<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>Google</string>
            <key>url</key>
            <string>http://www.google.com/</string>
        </dict>
        <dict>
            <key>title</key>
            <string>WebCollecor</string>
            <key>url</key>
            <string>http://webcollector.colab-net.com/</string>
        </dict>
    </array>
</plist>
